@font-face {
    font-family: 'padrao';
    src: url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Montserrat:wght@200&display=swap');
  
    font-family: 'destaque';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
}

:root{
    --cor0: rgb(255, 255, 255);
    --cor1: #B8B8B8;
    --cor2: #323232;
    --cor3: #24252A;
    --cor4: #000000;
    --cordestaque: #00b8e4;
    --corestrela: rgb(240, 206, 17);

    --font-padrao: padrao;
    --fonte-destaque: destaque;
}
  
* {
  margin: 0;
  padding: 0;
  color: var(--cor0);
}
  
.header {
    background-color: var(--cor4);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    align-items: center;
}

.header > div {
    background-color: var(--cor4);
    padding: 10px;
    margin: 2px;
}

.header a {
    background: var(--cor4);
    color: var(--cor0);
    text-decoration: none;
}

.contact a {
    border-radius: 20px;
    background: var(--corestrela);
    color: var(--cor4);
    padding: 10px 20px;
}

.home {
    margin-left: 0px;
    margin-top: 62px;
    border: 1px solid white;
    padding-bottom: 160px;
    background-image: url("https://i.ibb.co/DVvMVb7/pexels-kevin-ku-577585-2.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.home > div { 
    color: var(--cor0);
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-left: 220px;  
}


.intro {
    margin-top: 80px;
    font-size: 50px;
    font-weight: bold;
}

.skills > div {
    color: var(--cordestaque);
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    color: var(--cor0);
    padding-bottom: 30px;
    background-color: var(--cor4);
}

.box {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    background-color: var(--cor4);
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.img-left {
    border: 1px solid white;
    
    margin-left: 90px;
    height: 638px;
}

.img-left img {
    height: 100%;
}

.about-right {
    border: 1px solid white;
    color: var(--cor0);
    margin-left: 50px;  
}

.about-right > div {
    text-align: left;
}

.box-title {
    font-weight: bold;
    font-size: 32px;
    margin-top: 0px;
    padding-bottom: 15px;
}

.text-right {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 18px;
    margin-right: 20px;
}

.telefone {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    margin-right: 20px;
}

.services {
    border: 1px solid white;
    border-radius: 1rem;
    height: 200px;
    width: 300px;
    margin-left: 10px;
    
}

.services-img {

}

.services-title {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.services-text {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.portifolio-1 {
    border: 1px solid white;
    border-radius: 1rem;
    height: 200px;
    width: 300px;
    margin-left: 10px;
    background-image: url("https://i.ibb.co/DVvMVb7/pexels-kevin-ku-577585-2.jpg");
    background-position: center;
    background-size: cover;   
}

.portifolio-2 {
    border: 1px solid white;
    border-radius: 1rem;
    height: 200px;
    width: 300px;
    margin-left: 10px;
    background-image: url("https://i.ibb.co/DVvMVb7/pexels-kevin-ku-577585-2.jpg");
    background-position: center;
    background-size: cover;   
}

.portifolio-3 {
    border: 1px solid white;
    border-radius: 1rem;
    height: 200px;
    width: 300px;
    margin-left: 10px;
    background-image: url("https://i.ibb.co/DVvMVb7/pexels-kevin-ku-577585-2.jpg");
    background-position: center;
    background-size: cover;   
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
